.search_form {
    margin: 10px 10% ;
}

.round-icon {
    border-radius: 50%;
    width:  100px;
    height: 100px;
}

.round-icon-home {
    border-radius: 50%;
    width:  300px;
    height: 300px;
}