.search_form {
    margin: 30px 10% ;
}

.round-icon {
    border-radius: 50%;
    width:  100px;
    height: 100px;
}

.round-icon-home {
    border-radius: 50%;
    width:  300px;
    height: 300px;
}

.user-icon {
    margin-bottom: 20px;
}

.title-logo {
    width: 60%;
}

.user-name {
    font-size: 3rem;
    margin-bottom: 30px;
}

.user-profile {
    font-size: 2rem;
    margin-bottom: 30px;
}

.tags ul {
    list-style: none;
}